body
{
    font-family: 'Philosopher', sans-serif; 

    color: #282928;
}

header
{
    width: 100%;
    height: 47px;
    padding-top: 5px;

    border-bottom: 1px solid #ddd;
    background: #eee;
}

.h1-block h1
{
    font-size: 26px;
}

.content
{
    margin-top: 10px;
}

.glyphicon-padding
{
    top: 3px;
}

.comments
{
    padding: 10px;
}

.no-tb-border
{
    min-width: 100%; 

    border-top: none;
    border-bottom: none;
}

/*# sourceMappingURL=style.css.map */
