body
  color: #282928
  font-family: 'Philosopher', sans-serif


header
  border-bottom: 1px solid #ddd
  width: 100%
  height: 47px
  padding-top: 5px
  background: #eee


.h1-block
  h1
    font-size: 26px

.content
  margin-top: 10px

.glyphicon-padding
  top: 3px

.comments
  padding: 10px

.no-tb-border
  border-top: none
  border-bottom: none
  min-width: 100%